body {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 12vw;
  background-color: #cef;
}
h1, p, a {
  text-align: center;
}
a {
  display: block;
}
img {
  display: block;
  margin: auto;
}

body.navigation-box {
  padding-top: 50px;
}
.navigation {
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 0 5px;
  box-sizing: border-box;
}
.navigation > img {
  margin-left: 0;
  margin-right: auto;
}
.navigation a {
  margin: 12px;
  color: white;
  text-decoration: none;
}
